Makefile
Makefile.in
mkinstalldirs
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.status.lineno
config.rpath
config.sub
configure
configure.lineno
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.o
*.lo
*.a
*.la
*.deps
*.libs
*.exe
*~
*.swp

m4/libtool.m4
m4/ltoptions.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/ltsugar.m4

Doxyfile
doc_src/common_defs.inc

/doc/*
*lib_docs/*

src_extra/twist
src_extra/spidron
src_extra/dome_layer
src_extra/poly_weave
src_extra/mmop_origami
src_extra/jitterbug
src_extra/string_art
src_extra/off2txt
src_extra/kaleido
src_extra/rotegrity
src/off2pov
src/off2eig
src/off2vrml
src/off2dae
src/off2obj
src/obj2off
src/off2crds
src/crds2off
src/off_color
src/off_util
src/off_trans
src/off_align
src/unipoly
src/johnson
src/poly_kscope
src/to_nfold
src/polygon
src/zono
src/conv_hull
src/pol_recip
src/geodesic
src/minmax
src/sph_rings
src/off_report
src/off_query
src/off_normals
src/kcycle
src/leonardo
src/unitile2d
src/repel
src/lat_grid
src/lat_util
src/canonical
src/conway
src/wythoff
src/n_icons
src/iso_delta
src/iso_kite
src/bravais
src/waterman
src/col_util
src/planar
src/symmetro
src/stellate
src/miller
src/off_color_radial
aview/antiview
python/antiprism.py
python/antiprism.pyc
python/antiprism_doc.i
python/antiprism_wrap.cc
/python/distutils/setup.py
/python/distutils/antiprism*
/python/distutils/MANIFEST
/python/distutils/COPYING
/python/distutils/AUTHORS
/python/distutils/build
/python/distutils/dist
/python/distutils/lib_src


