antiprism.py
antiprism_wrap.cc
setup.py
include *.i
include lib_src/*.cc
include lib_src/muparser/*.cc
include lib_src/qhull/*.cc
include lib_src/tesselator/*.cc
include lib_src/*.h
include lib_src/muparser/*.h
include lib_src/qhull/*.h
include lib_src/tesselator/*.h
include AUTHORS
include COPYING
