Source: antiprism
Section: science
Priority: extra
Maintainer: Adrian Rossiter <adrian@antiprism.com>
Build-Depends: debhelper (>= 9.0.0), dh-autoreconf (>= 4), autotools-dev, freeglut3-dev (>= 2.6.0-1ubuntu2 ), libc6-dev (>= 2.13-20ubuntu5 ), libglu1-mesa-dev (>= 7.11-0ubuntu3 ), libx11-dev (>= 2 ), linux-libc-dev (>= 3.0.0-15.26 ), mesa-common-dev (>= 7.11-0ubuntu3 ), x11proto-core-dev (>= 7.0.22 ) 
Standards-Version: 3.9.7
Homepage: http://www.antiprism.com
#Vcs-Git: git://git.debian.org/collab-maint/antiprism.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/antiprism.git;a=summary

Package: antiprism
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: polyhedron modelling software
 Antiprism is a set of command line programs to create, transform,
 analyse and visualise polyhedra. It includes a GLUT-based viewer.

